{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    {% block title %}
        Instacart
    {% endblock title %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="icon" href="{% static 'favicon.png' %}">
    {% block head %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <header>
        {% include 'components/Banner.html' %}
        {% include 'components/Navbar.html' %}
    </header>
    <main class="min-h-screen">
        {% block content %}
        
        {% endblock content %}
    </main>
    
    {% include 'components/Footer.html' %}
    {% include 'components/CartSidebar.html' %}
    {% block scripts %}{% endblock %}
</body>
</html>
