{% extends 'AppLayout.html' %}
{% block title %}InstaCart Order Tracking Page{% endblock %}
{% load static %}

{% block content %}
    <div class="min-h-screen mb-20 bg-amber-50">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <!-- Header -->
            <a href="{% url 'MyOrders' %}">
                <button class="flex items-center gap-2 text0sm text-zinc-400 hover:text-green-900 mb-6 transition-colors">
                    <i data-lucide="arrow-left" class="size-4"></i>
                    Back to Orders
                </button>
            </a>

            <!-- Order id, date, status -->
            <div class="flex items-center justify-between mb-8">
                <div>
                    <h1 class="text-2xl font-semibold text-green-900">Order #{{ order.id|slice:'-8:'|upper }}</h1>
                    <p class="text-sm text-gray-400 mt-1">Placed on {{ order.createdAt|slice:':10' }}</p>
                </div>
                <span class="px-4 py-1.5 text-sm font-semibold rounded-full 
                {% if order.status == 'Delivered' %}
                    bg-green-100 text-green-900
                {% elif order.status == 'Cancelled' %}
                    bg-red-100 text-red-700
                {% else %}
                    bg-orange-700/10 text-orange-700
                {% endif %}
                ">
                    {{ order.status }}
                </span>
            </div>

            <div class="grid lg:grid-cols-3 gap-6">
                
                <!-- left side Timeline + Map Area -->
                <div class="lg:col-span-2 space-y-6">
                    
                    <!-- otp card -->
                    {% if showOtp %}
                        {% include 'components/orderTracking/OrderOTP.html' %}
                    {% endif %}
                    
                    <!-- Live Tracking Map -->
                    {% include 'components/orderTracking/LiveMap.html' %}

                    <!-- Progress Timeline -->
                    {% include 'components/orderTracking/OrderTimeLine.html' %}

                    <!-- Delivery Person -->
                    {% if order.deliveryPartner and order.status != 'Delivered' and order.status != 'Cancelled' %}
                        <div class="bg-white rounded-2xl p-5 flex items-center justify-between">
                            <div class="flex items-center gap-3">
                                <div class="size-11 rounded-full bg-green-900 flex items-center justify-center">
                                    <span class="text-white font-semibold text-sm">{{ order.deliveryPartner.name|first|upper }}</span>
                                </div>
                                <div>
                                    <p class="text-sm fonnt-semibold text-green-900">{{ order.deliveryPartner.name }}</p>
                                    <p class="text-xs text-zinc-400 capitalize">{{ order.deliveryPartner.vehicleType }} Delivery Partner</p>
                                </div>
                            </div>
                            <a href="tel:{{ order.delivveryPartner.phone }}" class="p-2.5 bg-amber-50 rounded-xl hover:bg-amber-200 transition-colors">
                                <i data-lucide="phone" class="size-4 text-zinc-400"></i>
                            </a>
                        </div>
                    {% endif %}
                        
                </div>

                <!-- Right side Order Details -->
                <div class="space-y-5">
                    <!-- Delivery Address -->
                    <div class="bg-white rounded-2xl p-5">
                        <h3 class="text-sm font-semibold text-green-900 mb-3 flex items-center gap-2">
                            <i data-lucide="map-pin" class="size-4"></i>
                            Delivery Address
                        </h3>
                        <p class="text-sm text-zinc-400 leading-relaxed"> 
                            {{ order.shippingAddress.label }}
                            <br>
                            {{ order.shippingAddress.address }}
                            <br>
                            {{ order.shippingAddress.city }}, {{ order.shippingAddress.state }} {{ order.shippingAddress.zip }}
                        </p>
                    </div>

                    <!-- Items -->
                    <div class="bg-white rounded-2xl p-5">
                        <h3 class="text-sm font-semibold text-green-900 mb-3">Items ({{ order.items|length }})</h3>
                        <div class="space-y-3">
                            
                            {% for item in order.items %}
                                <div class="flex items-center gap-3">
                                    <img src="{{ item.image }}" alt="{{ item.name }}" class="size-10 rounded-lg object-cover">
                                    <div class="flex-1 min-w-0">
                                        <p class="text-sm font-medium text-green-900 truncate">{{ item.name }}</p>
                                        <p class="text-xs text-zinc-400">x{{ item.quantity }}</p>
                                    </div>
                                    <span 
                                    class="text-sm font-semibold total-price"
                                    data-price="{{ item.price }}"
                                    data-quantity="{{ item.quantity }}"
                                    ></span>
                                    
                                </div>
                            {% endfor %}
                            <script>
                                document.querySelectorAll(".total-price").forEach(element => {
                                    const price = Number(element.dataset.price);
                                    const quantity = Number(element.dataset.quantity);

                                    const total = price * quantity;

                                    element.textContent = `$${total.toFixed(2)}`;
                                });
                            </script>
                        </div>
                        <div class="mt-4 pt-3 border-t border-zinc-400 space-y-1.5 text-sm">
                            <div class="flex justify-between">
                                <span class="text-zinc-400">Subtotal</span>
                                <span>$ {{ order.subtotal }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="text-zinc-400">Delivey</span>
                                <span>
                                    
                                    {% if order.deliveryFee == 0 %}
                                        Free
                                    {% else %}
                                        $ {{ order.deliveryFee }}
                                    {% endif %}
                                        
                                </span>
                            </div>
                            <div class="flex justify-between">
                                <span class="text-zinc-400">Tax</span>
                                <span>$ {{ order.tax }}</span>
                            </div>
                            <div class="flex justify-between pt-2 border-t border-zinc-400 font-semibold text-green-900">
                                <span>Total</span>
                                <span>$ {{ order.total }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
    