{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" href="{% static 'favicon.png' %}">
    {% tailwind_css %}
</head>
<body>
    <div class="min-h-screen flex">
        <!-- Left Side -->
        <div class="hidden lg:flex lg:w-1/2 bg-green-800 relative items-center justify-center">
            <img src="{% static 'grocery_login.jpg' %}" alt="" class="absolute inset-0 object-cover h-full bg-center opacity-10">
            <div class="relative text-center px-12">
                <h2 class="text-4xl font-semibold text-white mb-4">Welcome back to Instacart</h2>
                <p class="text-white/60 font-serif text-xl max-w-sm mx-auto">Fresh Groceries and organic produce, delivered to your doorstep.</p>
            </div>
        </div>
        <!-- Right Side -->
        <div class="flex-1 flex-center px-4 py-12 bg-amber-100"> 
            <div class="w-full max-w-md">
                <!-- form header message -->
                <div></div>
                <!-- login/register form -->

            </div>
        </div>
    </div>
</body>
</html>