{% load static %}

<section class="bg-white py-5 border border-gray-200 rounded-xl">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <!-- <div class="grid grid-cols-2 md:grid-cols-4 gap-4"> -->
        <div class="flex flex-wrap justify-around gap-4">
            <div class="flex items-center gap-3 py-3">
                <div class="size-10 rounded-lg bg-amber-100 flex items-center justify-center shrink-0">
                    <img src="{% static 'icons/truck.svg' %}" alt="" class="size-6">
                </div>
                <div>
                    <p class="text-sm font-semibold text-green-800">Freen Delivery</p>
                    <p class="text-xs text-zinc-400">Orders over $20</p>
                </div>
            </div>
            
            <div class="flex items-center gap-3 py-3">
                <div class="size-10 rounded-lg bg-amber-100 flex items-center justify-center shrink-0">
                    <img src="{% static 'icons/leaf-dark.svg' %}" alt="" class="size-6">
                </div>
                <div>
                    <p class="text-sm font-semibold text-green-800">100% Organic</p>
                    <p class="text-xs text-zinc-400">Certified products</p>
                </div>
            </div>

            <div class="flex items-center gap-3 py-3">
                <div class="size-10 rounded-lg bg-amber-100 flex items-center justify-center shrink-0">
                    <img src="{% static 'icons/clock-two.svg' %}" alt="" class="size-6">
                </div>
                <div>
                    <p class="text-sm font-semibold text-green-800">Same Day</p>
                    <p class="text-xs text-zinc-400">Express delivery</p>
                </div>
            </div>

            <div class="flex items-center gap-3 py-3">
                <div class="size-10 rounded-lg bg-amber-100 flex items-center justify-center shrink-0">
                    <img src="{% static 'icons/shield-check-dark.svg' %}" alt="" class="size-6">
                </div>
                <div>
                    <p class="text-sm font-semibold text-green-800">Secure Pay</p>
                    <p class="text-xs text-zinc-400">Safe checkout</p>
                </div>
            </div>
                
        </div>
    </div>
</section>