{% load static %}

<section class="hidden" id="address-form">
    <!-- Overlay -->
    <div class="fixed inset-0 bg-black/40 z-50"/>

    <!-- form container -->
    <div class="insert-0 z-50 flex items-center justify-center p-4">
        <form class="bg-white rounded-2xl p-6 w-full max-w-lg animate-fade-in">
            <!-- Form header -->
            <div class="flex items-center justify-between mb-5">
                <h2 class="text-lg font-semibold text-green-900">
                    {% if editingId %}
                        Edit Address
                    {% else %}
                        Add New Address
                    {% endif %}
                </h2>
                <button id="cl-address-form-btn" class="p-2 hover:bg-amber-200 rounded-lg">
                    <i data-lucide="x" class="size-5"></i>
                </button>
            </div>
        </form>
    </div>
</section>

<script>
    const addressForm2 = document.getElementById('address-form');
    

    const clAddressFormBtn = document.getElementById('cl-address-form-btn');
    if(clAddressFormBtn){
        clAddressFormBtn.addEventListener('click',()=>{
            addressForm2.classList.add('hidden');
            sessionStorage.removeItem('showAddressForm');
        })
    }

    if (sessionStorage.getItem("showAddressForm") === "true") {
        
        addressForm2.classList.remove("hidden");
        // cartSidebarRight.classList.add('animate-slide-in-right');
    }
</script>