{% load static %}

<section class="max-w-3xl bg-white rounded-2xl p-6 flex items-start justify-between">
    <!-- Left -->
    <div class="flex gap-4">
        <div class="size-10 rounded-xl bg-amber-50 flex items-center justify-center shrink-0">
            <i data-lucide="map-pin" class="size-5 text-green-900"></i>
        </div>
        <div>
            <div class="flex items-center gap-2 mb-1">
                <p class="text0sm font-semibold text-green-900">{{ address.label }}</p>
                
                {% if address.isDefault %}
                    <span class="flex items-center justify-center gap-1 px-3.5 py-0.5 text-[10px] font-medium bg-green-900 text-white rounded-full">
                        <i data-lucide="check" class="size-2.5"></i>
                        Default
                    </span>
                {% endif %}
                    
            </div>
            <p class="text-sm text-zinc-400">
                {{ address.address }}, {{ address.city }}, 
                <br>
                {{ address.state }}, {{ address.zip }}
            </p>
        </div>
    </div>

    <!-- Right - action button -->
    <div class="flex items-center gap-1">
        <button class="p-2 text-zinc-400 hover:text-green-900 hover:bg-amber-200 rounded-lg transition-colors">
            <i data-lucide="pencil" class="size-4"></i>
        </button>
        <a href="{% url 'AddressDelete' address.id %}">
            <button class="p-2 text-zinc-400 hover:text-red-600 hover:bg-red-50 rounded-lg transition-colors">
                <i data-lucide="trash-2" class="size-4"></i>
            </button>
        </a>
    </div>
</section>